.about .image-block {
    min-height: 350px;
}

.schedule .schedule-contents .schedule-item li.schedule-details .block {
    min-height: 85px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.navbar {
    height: 90px;
}

.sponsors .block .image-block img {
    height: 100px !important;
}

.sponsors .block .image-block {
    padding: 20px 0 !important;
}

.testimonial .testimonial-item .media {
    margin-left: 0px !important;
}

.mx-auto {
    background-color: #fff;
}

.navbar .nav-link:hover {
    color: #ff6600 !important;
}

.speaker-item {
    text-align: center;
}

.map .address-block {
    padding: 10px 20px 10px 20px;
    top:0px;
    left: 0px;
}

.map #map {
    width: 100%;
}

.speakers .speaker-item .image {
    height: 250px;
    background-color: #ff6600;
}

.schedule .schedule-contents .schedule-item ul li .time {
    width: 16%;
}

.schedule .schedule-contents .schedule-item ul li .speaker {
    width: 83%;
    text-align: center;
}

.registration .registration-block .block .title {
    margin-top: 80px;
    margin-bottom: 80px;
}

.speaker-img {
    height: 100%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

@media (max-width: 1498px) {
    .registration .service-block {
        padding: 90px;
    }

    .registration .registration-block {
        padding: 70px;
    }
}

@media (max-width: 1366px) {
    .registration .service-block {
        padding: 30px;
    }

    .registration .registration-block {
        padding: 12px;
    }
}

@media (max-width: 991px) {
    .about .image-block {
        display: none;
    }
    .schedule .schedule-tab ul li.nav-item a {
        font-size: 1rem;
    }
    .navbar {
        height: 50px;
    }
    .schedule .schedule-contents .schedule-item ul li .time {
        width: 23%;
    }
    .schedule .schedule-contents .schedule-item ul li .speaker {
        width: 75%;
    }
    .speaker-img {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media (max-width: 767px) {
    .registration .service-block {
        padding: 0px;
    }
    #banner {
        text-align: center;
    }
    #banner h1 {
        font-size: 3rem;
    }
    .schedule .schedule-contents .schedule-item ul li .time {
        width: 32%;
    }
    .schedule .schedule-contents .schedule-item ul li .speaker {
        width: 66%;
    }
}

@media (max-width: 575px) {
    .speaker-img {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 552px) {
    .schedule .schedule-contents {
        text-align: center;
    }
    .sponsors .block .list-inline-item {
        margin-right: 0px !important;
    }
    .schedule .schedule-contents .schedule-item li {
        font-size: 0.8rem;
    }
    .schedule .schedule-contents .schedule-item ul li .time {
        width: 100%;
    }
    .schedule .schedule-contents .schedule-item ul li .speaker {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .faq .accordion-block #accordion .card .card-header h5 a {
        font-size: 0.9rem;
    }
    .faq .accordion-block #accordion .card {
        font-size: 0.7rem;
    }
    .registration .service-block h5 {
        font-size: 1rem;
    }
    .schedule .schedule-contents .schedule-item li {
        font-size: 0.75rem;
    }
    .schedule .schedule-contents {
        padding: 10px;
    }
    #banner h1 {
        font-size: 2rem;
    }
    .registration .registration-block .block .title p {
        font-size: 0.7rem;
    }
    .schedule .schedule-contents .schedule-item li.headings,
    .schedule .schedule-contents .schedule-item li .block {
        min-height: 55px;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .map .address-block li {
        font-size: 0.8rem;
    }
    .speaker-img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}